body {
    width: 1400px;
    margin: 0 auto;
    color: #393e46;
}
/*Cabecera de la pagina*/
header{
    background-color: #393e46;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position-y: -2em;
    overflow: auto;
    margin: 1%;
    color: white;
    text-align: center;
    border-radius: 5px;
}

#bienvenida{
    float: left;
    width: 60%;
    margin-left: 20%;
    
}

#user-info{
    margin-top: 20px;
    width: 18%;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.carrito{
    width: 30px; 
    height: 30px;
    margin-right: 15px; 
}

#usr{
    display: none;
}

/*Contenido Principal de la pagina*/
#content{
    overflow: auto;
    margin: 1%;
}

/*barra lateral izquierda*/
.barra-lateral{
    width: 19%;
    border: solid 1px silver;
    padding-top: 1%;
    height: 600px;
    float: left;
    border-radius: 5px;  
    background-color: #EEEEEE; 
}

#form-registro div{
    margin-bottom: 30px;
}

#form-registro input, label{
    margin-left: 2em;
}


#form-registro .etiqueta{
    display: block;
}

/*contenido central - buscador*/
.central{
    width: 60%;
    height: 600px;
    float: left;
}

#buscar{
    width: 310px;
    margin: 0px auto 0px auto;
}

/*barra lateral derecha*/
#destacados.barra-lateral{
    float: right;
    width: 19%;
    overflow: scroll
}

table{
    padding-left: 20px;
}

td{
   border-bottom: solid 1px silver;
}

.precio-viejo{
    text-decoration: line-through;
}

/*pie de pagina*/
footer{
    background-color: #393e46;
    text-align: center;
    height: 20%;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 1%;
}

/*inputs*/
input{
    border: solid 1px silver;
    border-radius: 5px;
    width: 150px;
}

input[type = password]{
    background-image: url(../images/pwd.png);
    padding-left: 20px;
    background-repeat: no-repeat;   
}

input[type = text]{
    background-image: url(../images/user2.png);
    padding-left: 20px;
    background-repeat: no-repeat;
}

input[type = search]{
    background-image: url(../images/buscar.png);
    padding-left: 20px;
    background-repeat: no-repeat;
    width: 235px;}

.btn{
    border-radius: 5px;
    width: 70px;
    padding: 2px;
    margin-bottom: 4px; 
}

input[type = submit]:hover, button:hover{
    background-color: #393e46;
    color: white;
}

input:focus{
    background-color: white;
    border: 1px solid #393e46;
    color: #393e46;
}

h3{
    text-align: center;
    margin-bottom: 30px;
}

